body {
    min-height: 100vh;
}

body h1 {
    text-align: center;
    padding-bottom: 25px;
    font-size: 50px;
    color: #0A142F;
}
.equipmentBody {
    min-height: 700px;
}
.equipmentTankNameForm {
    display: flex;
    justify-content: center;;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.equipmentTankName {
    background: whitesmoke;
    text-align: center;
    font-size: 23px;
    width: 50vw;
    flex-grow: 1;
}

.equipmentChoiceConatiner {
    display: flex;
    flex-wrap: wrap;
    min-height: 700px;
}

.equipmentChoiceConatinerLeft {
    flex: 50%;
    text-align: center;
}

.equipmentChoiceConatinerRight {
    flex: 50%;
    text-align: center;
}

/* equipment List */
.equipmentContainer {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    background: whitesmoke;
    border-radius: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    min-height: 650px;
    padding: 50px 100px 50px 100px;
    margin: 0 100px 0 100px;
}
.equipmentContainer h2 {
    margin-bottom: 50px;
}
.equipment .equipmentImage {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    transition: 1s;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.equipment .equipmentImage:hover {
    transform:scale(1.3);
    z-index: 2;
}
.equipment .equipmentName {
    padding-top: 0px;
    margin-top: 5px;
    padding-bottom: 25px;
    font-size: 15px;
    color: black;
}
/* End of equipment List */

/* popup window */
.popup {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 500px;
    background: whitesmoke;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 0 30px;
    color: black;
}
.popup h2 {
    margin-top: 25px;
}
.popup button {
    background-color: #0A142F;
    border-color: #0A142F;
}
.popup button:hover {
    border-color: #30CB70;
    background-color: #30CB70;
}
.changeButton {
    font-size: 30px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.popup a {
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
}
.popup img {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.UpperPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MiddlePopup {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.QuantityContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: black;
}
.QuantityContainer a{
    font-size: 23px;
}
.LowerPopup {
    padding-bottom: 10px;
}
.LowerPopup button{
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 25px;
    font-size: 20px;
    height: 50px;
    width: 100px;
}
/* End of popup window */

/* Pagination */
.pagination {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 50px 50px;
}
.next-navigation-button {
    background-color: #0A142F;
    margin: 0px;
    padding: 15px 20px 15px 20px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    font-size: 22px;
}
.next-navigation-button:hover {
    color: white;   
    background-color: #30CB70;
}
.prev-navigation-button {
    background-color: #0A142F;
    margin: 0px;
    padding: 15px 20px 15px 20px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    font-size: 22px;
}
.prev-navigation-button:hover {
    color: white;
    background-color: #30CB70;
}
.page-number {
    font-size: 22px;
    margin: 0 10px 0 10px;
    color: black;
    text-decoration: none;
}
.page-number:hover {
    color: #30CB70;
}
.active {
    color: #30CB70;
}
/* End of Pagination */


/*Dimensions*/
.DimensionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.DimensionsContainerInner {
    position: relative;
}
.equipmentTankImg {
    display: block;
    width: 65vw;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}
.DimensionsContainerInner input {
    position: absolute;
}
.HeightDim {
    background: whitesmoke;
    min-width: 140px;
    width: 10vw;
    top: 50%;
    right: -4%;
}
.WidthDim {
    background: whitesmoke;
    min-width: 145px;
    width: 10vw;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
}
.DepthDim {
    background: whitesmoke;
    min-width: 145px;
    width: 10vw;
    bottom: 10%;
    right: 5%;
}
/*End of Dimensions*/


/* Water Specifications */
.WaterSpecsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.WaterSpecsContainerInner {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    background: whitesmoke;
    min-width: 50vw;
    min-height: 700px;
    display: flex;
    justify-content: center;
}
.WaterSpecsTable {
    width: 80%;
    border-radius: 25px;
    border-color: black;
    background-color: whitesmoke;
    color:black;
}
.WaterSpecsTable tr {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
}
.WaterSpecsTable input {
    min-width: 250px;
    text-align: center;
    font-size: 22px;
}
/* End of Water Specifications */

.LastContainer {
    display: flex;
    justify-content: center;
}
.SubmitequipmentTank {
    padding: 10px 20px 10px 20px;
    background-color: #0A142F;
    border-color: #0A142F;
    border-radius: 25px;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.SubmitequipmentTank:hover {
    border-color: #30CB70;
    background-color: #30CB70;
}