.FishContainer {
    display: flex; 
    padding: 100px 100px 100px 100px;
}

.Fish {
    flex: 33%;
}

.Fish .FishImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 1s;
}

.Fish .FishImage:hover {
    transform:scale(1.3);
    z-index: 2;
}

.FishName {
    padding-top: 50px;
}